#playlist {
    position: absolute;
    top: 120px;
    height: 756px;
    right: 0px;
    width: 400px;
    background: black;
    z-index: 3;
    opacity: 0.8;
    padding-left: 20px;
    padding-top: 20px;
}